{
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "endOfLine": "auto",
    "jsxBracketSameLine": true,
    "embeddedLanguageFormatting": "off",
    "arrowParens": "avoid"
}